.container{
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: auto;
  background-color: rgb(153, 161, 161);
  padding: 20px;
  margin-top: 200px;
  border-radius: 20px;
}

.App {
  text-align: center;
  margin: auto;
}

.filter {
  margin: auto;
  margin-top: 30px;
  width: 300px;
  margin-bottom: 20px;
}

.list {
  width: 300px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 250px;
  display: block;
  overflow: auto;
}

.body {
  width: 300px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.name {
  margin-bottom: 10px;
}
.phonenumber {
  margin-bottom: 10px;
}
.element{
  background-color: orange;
  margin-bottom: 5px;
}
